@model IEnumerable<MercadoIGL.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabela de Clientes</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cpfCliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.cpfCliente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.cpfCliente">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
